<!DOCTYPE html>
<html lang="en">

<head>
  {{> meta}}
  <title>{{{title}}}</title>
</head>

<body>
  <script>0</script>
  {{> nav}}

  <main class="post-container">
    {{> post-content}} 
    {{> toc}}
  </main>

  {{> toc-scripts}}
</body>

</html>